body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.maps {
    width: 100%;
    max-width: 1293px;
    margin: 0 auto;
}

.map-group {
    overflow: auto;    
    width: 100%; 
}

.map-holder {
    float: left;
    width: 98%;
    max-width: 400px;
    height: 600px;
    padding: 1%;
}

.iframed-map-holder {
    width: 100%;
    height: 100%;
}

.map {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    background: #000;
}

.leaflet-top.leaflet-right,
.leaflet-bottom.leaflet-right {
    width: 40%;
    max-width: 250px;
}

.map-control {
    background-color: #FFF;    
    border: 1px solid #000;
    padding: 0.25em 0.5em;
    width: 100%;
}

.info {
}

.station-list {
    overflow: auto;
}

.station-group {
    //float: left;
    padding: 2%;
    //width: 46%;
}

.station-group-name {
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0.25em;
    border-bottom: 1px solid #000;
}

.station-group-station {
    line-height: 1.5;
}

.station-group-station + .station-group-station {
    border-top: 1px solid #CCC;
}

.station-percent {
    font-weight: bold;
    width: 4em;
    display: inline-block;
}

.station-name {
}

.station-pct {
    font-weight: bold;    
}

.station-info + .station-info {
    border-top: 1px solid #CCC;    
    padding-top: 0.25em;
    margin-top: 0.25em;
}

.top-stations {
    display: block;
}

@media (max-width: 640px) {
    .top-stations {
        display: block;
    }
}
