<!DOCTYPE html>
<html>
    <head>
        <title>Bikeshare Map</title>
        <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.ie.css" /><![endif]-->

        <script type="text/javascript" src="http://leaflet.cloudmade.com/dist/leaflet.js"></script>
        <script type="text/javascript" src="js/vendor/tile.stamen.js"></script>
        <link rel="stylesheet" href="css/map.css" />
        <script type="text/javascript" src="js/vendor/colorbrewer.js"></script>
        <script type="text/javascript" src="js/vendor/underscore.min.js"></script>
        <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
    </head>
    <body>
        <div id="toner" class="map"></div>
        <script type="text/template" class="tmpl station">
            <div class="station-info station-name"><%= name %></div>
            <div class="station-info"><span class="station-pct"><%= Math.round(fpct_total * 1000) / 10 %>%</span> female ridership</div>
            <div class="station-info station-trips"><%= commafy(trips_total) %> total trips</div>
        </script>
        <script src="js/map.js"></script>
    </body>
</html>
